{% extends 'base.html.twig' %}
{% set current_title = "Commande" %}
{% block body %}
    <section class="section text-center ">
        <div class="container-fluid p-0">
            <div class="row justify-content-center">
                <div class="col-md-12 p-0">
                    <div>
                        <img src="images/page-header/entete2.jpg">
                    </div>
                    <div class="breadcrumb-wrapper p-4 color-gold">
                        <ol class="breadcrumbs-custom">
                            <li><a href="./">Accueil</a></li>
                            <li><a href="/panier">panier</a></li>
                            <li class="active">Commande</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Si le client est connecté on affiche le detail de la commande-->
        <form name="myForm" action="#" onsubmit="return validateForm()" method="POST" class="shoping-cart">

            <section class="section section-xl bg-default">
            <div class="container">

                <div class="row">
                    <div class="col-md-6 text-left" id="blockLiv">
                        <h3 class="text-transform-none font-weight-medium">Livraison</h3>
                        <p class="mt-0" id="errorLiv">Merci de sélectionner une adresse de livraison</p>

                        <select name="cde_liv" id="cde_liv" class="form-control mt-3">
                            <option value="0" selected disabled>Sélectionner ou ajouter une adresse</option>
                            <!-- On affiche toute les adresses du clients  Mon prénom adresse1 complement adresse code postal ville-->
                            {% for adresse in client.adresses %}
                                {% if(adresse.aActif ) %}
                                    <!-- On affiche toute les adresses du clients  Mon prénom adresse1 complement adresse code postal ville-->
                                    <option value="{{ adresse.aId }}">{{ adresse.aNom }} {{ adresse.aPrenom }} {{ adresse.aAdresse1 }} {{ adresse.aAdresse1 }} {{ adresse.aCode }} {{ adresse.aVille }}</option>
                                {% endif  %}
                            {% endfor %}
                        </select>

                        <!-- Au clic affiche une modal bootstrap pour ajouter une adresse -->
                        <a href="/membre" class="button button-primary-3 button-zakaria mt-3 w-100" style="padding: 5px 20px;"><i class="fa fa-plus-circle" aria-hidden="true"></i> Ajouter une adresse</a><br>
                    </div>

                    <div class="col-md-6 text-left" id="blockFac">
                        <h3 class="text-transform-none font-weight-medium">Facturation</h3>
                        <p class="mt-0" id="errorFact">Merci de sélectionner une adresse de facturation</p>

                        <select name="cde_fac" id="cde_fac" class="form-control mt-3">
                            <option value="0" selected disabled>Sélectionner ou ajouter une adresse</option>
                            {% for adresse in client.adresses %}
                                {% if(adresse.aActif) %}
                            <!-- On affiche toute les adresses du clients  Mon prénom adresse1 complement adresse code postal ville-->
                            <option value="{{ adresse.aId }}">{{ adresse.aNom }} {{ adresse.aPrenom }} {{ adresse.aAdresse1 }} {{ adresse.aAdresse1 }} {{ adresse.aCode }} {{ adresse.aVille }}</option>
                                {% endif  %}
                            {% endfor %}
                        </select>

                        <!-- Au clic affiche une modal bootstrap pour ajouter une adresse -->
                        <a href="/membre" class="button button-primary-3 button-zakaria mt-3 w-100" style="padding: 5px 20px;"><i class="fa fa-plus-circle" aria-hidden="true"></i> Ajouter une adresse</a><br>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-transform-none font-weight-medium text-left">Récapitulatif</h3>
                        <div class="table-custom-responsive mt-4">
                            <div class="table-responsive mt-4">
                                {% set prixPanier = 0 %}
                                {% set prixTVA = 0 %}
                                <table class="table table-cart" id="tableProduitPanier" style="text-align: center;text-transform: uppercase;border: 1px solid #e1e1e1;">
                                    <thead>
                                    <tr><!--class="d-none d-md-table-row"-->
                                        <th>Produit</th>
                                        <th></th>
                                        <th>prix</th>
                                        <th>quantité</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for ligne in commande.lignes %}
                                            <tr id="row">
                                                <td>
                                                    <a class="table-cart-figure" href="/produit?id={{ligne.article.prId }}">
                                                        <img loading="lazy" src="{{ ligne.article.images.count > 0 ? ligne.article.images[0].piImg : ''}}" alt="image produit" style="width: 200px">
                                                    </a>
                                                </td>
                                                <td class="text-center text-md-left">
                                                    <a class="table-cart-link text-left" href="/produit?id={{ligne.article.prId }}">{{ ligne.article.prTitre }}</a>

                                                </td>
                                                <td><chiffre>{{ ligne.clMtn }}</chiffre> €</td>
                                                <td style="width: 150px;">
                                                    {{ ligne.clQte }}
                                                </td>
                                                <td><div id="total "><chiffre>{{ ligne.clMtn * ligne.clQte }}</chiffre> € </div></td>
                                                {% set prixPanier = prixPanier + (ligne.clMtn * ligne.clQte) %}
                                                {% set prixTVA = (ligne.clMtn * ligne.clQte) * ligne.article.prTva / 100 %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-end">
                    <div class="col-lg-6 col-sm-12">
                        <h3 class="text-transform-none font-weight-medium text-left">Commentaire</h3>
                        <textarea name="cde_com" class="form-control mt-3" rows="6"></textarea>
                    </div>
                    <div class="col-lg-6 col-sm-12 mt-3 mt-lg-0">
                        <h3 class="text-transform-none font-weight-medium text-left">Total</h3>
                        <table class="table float-right text-center text-lg-right mt-3">
                            <tbody>
                            <!--prix frais de port = 7.35 -->
                            <tr>
                                <td style="vertical-align: middle;"><div class="heading-5 font-weight-medium text-gray-500">Total HT :</div></td>
                                <td class="text-right"><div class="heading-3 font-weight-normal"> {{ prixPanier - prixTVA }} €</div></td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;"><div class="heading-5 font-weight-medium text-gray-500">Total TVA :</div></td>
                                <td class="text-right"><div class="heading-3 font-weight-normal"> {{ prixTVA }} €</div></td>
                            </tr>

                            <!--  si il y a un code promo et que la remise > 0-->
                            {% if(commande.promo) %}

                                <tr>
                                    <td style="vertical-align: middle;"><div class="heading-5 font-weight-medium text-gray-500">Remise promo {{ commande.promo.pRemise }} % :</div></td>
                                    <td class="text-right"><div class="heading-3 font-weight-normal">- {{ prixPanier * promo / 100 }} €</div></td>


                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;"><div class="heading-5 font-weight-medium text-gray-500">Livraison :</div></td>
                                    <td class="text-right"><div class="heading-3 font-weight-normal">
                                            <!-- ICI PRIX LIVRAISON -->
                                            {% if(commande.promo.pLivraison) %}
                                                OFFERT
                                            {% elseif(prixPanier - (prixPanier * commande.promo.pRemise / 100) >= 70 or prixPanier >= 70)  %}
                                                OFFERT
                                            {% else %}
                                                7.35 €
                                            {% endif %}

                                            <!-- if il y a un code promo on affiche Offert
                                               else if prix panier >= 70 on affiche OFFERT
                                               sinon on affiche le prix des frais de port
                                             -->
                                        </div></td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;"><div class="heading-5 font-weight-medium text-gray-500">Total TTC :</div></td>
                                    <!-- if CODE PROMO PORT OFFERT -->
                                    {% if(commande.promo.pLivraison) %}
                                    <td class="text-right"><div class="heading-3 font-weight-normal">{{ prixPanier - (prixPanier * commande.promo.pRemise / 100) }} €</div></td>
                                    <!-- else if  prix panier >= 70) -->
                                    {% elseif(prixPanier - (prixPanier * commande.promo.pRemise / 100) >= 70 or prixPanier >= 70)  %}
                                    <td class="text-right"><div class="heading-3 font-weight-normal">{{ prixPanier - (prixPanier * commande.promo.pRemise / 100)}} €</div></td>
                                    <!-- else -->
                                    {% else %}
                                    <td class="text-right"><div class="heading-3 font-weight-normal">{{ prixPanier - (prixPanier * commande.promo.pRemise / 100) + 7.35 }} €</div></td>
                                    {% endif %}
                                </tr>
                            <!-- sinon -->
                            {% else %}

                            <tr>
                                <td style="vertical-align: middle;"><div class="heading-5 font-weight-medium text-gray-500">Livraison :</div></td>
                                <td class="text-right"><div class="heading-3 font-weight-normal">
                                        <!-- ICI PRIX LIVRAISON -->

                                        {% if( prixPanier >= 70)  %}
                                            OFFERT
                                        {% else %}
                                            7.35 €
                                        {% endif %}
                                        <!-- if il y a un code promo on affiche Offert
                                           else if prix panier >= 70 on affiche OFFERT
                                           sinon on affiche le prix des frais de port
                                         -->
                                    </div></td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;"><div class="heading-5 font-weight-medium text-gray-500">Total TTC :</div></td>
                                <td class="text-right"><div class="heading-3 font-weight-normal">

                                        <!-- if il y a un code promo frais de port Offert
                                                prixPanier
                                           else if prix panier >= 70
                                                prixPanier
                                           sinon
                                                prixPanier + prixFDP
                                         -->
                                        <!-- if  prix panier >= 70) -->
                                        {% if( prixPanier >= 70)  %}
                                            <td class="text-right"><div class="heading-3 font-weight-normal">{{prixPanier }} €</div></td>
                                            <!-- else -->
                                        {% else %}
                                            <td class="text-right"><div class="heading-3 font-weight-normal">{{prixPanier + 7.35 }} €</div></td>
                                        {% endif %}

                                    </div></td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>

                    </div>

                    <div class="col-lg-6 col-sm-12 mt-3 mt-lg-0">

                        <div class="form-group">
                            <label class="container-input mt-3 text-left" style="font-size: 16px;">J'ai lu et j'accepte les <a href="/cgv" target="_blank">conditions générales de vente</a>
                                <input type="checkbox" name="cgv" id="cgv" value="1">
                                <span class="checkmark"></span>
                            </label>

                        </div>

                        <button type="submit" name="val_cde" class="button button-lg button-primary-3 button-zakaria w-100"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Paiement</button>

                    </div>

                </div>

            </div>
            </section>

        </form>

    <!-- Si le client n'est pas connecté on le redirige vers la connection  -->


        <!-- Modal -->
        <div class="modal fade" id="modalAdresse" tabindex="-1" role="dialog" aria-labelledby="modalAdresseLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalAdresseLabel">Ajout d'adresse</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="rd-form mt-0" method="post" action="#">
                        <div class="modal-body">
                            <div class="row row-15">
                                <div class="col-6">
                                    <div class="form-wrap">
                                        <input class="form-input" id="checkout-first-name-2" type="text" name="nom" required>
                                        <label class="form-label rd-input-label" for="checkout-first-name-2">Nom</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-wrap">
                                        <input class="form-input" id="checkout-last-name-2" type="text" name="prenom" required>
                                        <label class="form-label rd-input-label" for="checkout-last-name-2">Prénom</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-wrap">
                                        <input class="form-input" id="checkout-company-2" type="text" name="societe">
                                        <label class="form-label rd-input-label" for="checkout-company-2">Société</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-wrap">
                                        <input class="form-input" id="checkout-phone-3" type="text" name="telephone1" required>
                                        <label class="form-label rd-input-label" for="checkout-phone-3">Téléphone</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-wrap">
                                        <input class="form-input" id="checkout-address-3" type="text" name="adresse1" required>
                                        <label class="form-label rd-input-label" for="checkout-address-3">Adresse</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-wrap">
                                        <input class="form-input" id="checkout-address-4" type="text" name="adresse2">
                                        <label class="form-label rd-input-label" for="checkout-address-4">Complement d'adresse</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-wrap">
                                        <input class="form-input" id="checkout-city-2" type="text" name="ville" required>
                                        <label class="form-label rd-input-label" for="checkout-city-2">Ville</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-wrap">
                                        <input class="form-input" id="checkout-cp-2" type="text" name="cp" required>
                                        <label class="form-label rd-input-label" for="checkout-cp-2">Code postal</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-wrap">
                                        <?php $pays = getPays(); ?>
                                        <select name="pays" id="pays1" class="form-input" required>
                                            <option value="">--Choisir un pays--</option>
                                            <option value="">France</option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                </div>
                                <input type="hidden" name="id" value="$_SESSION['auth']['u_id']">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            <button type="submit" name="add-adresse" class="btn btn-primary">Enregistrer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


{% endblock %}