{% extends 'base.html.twig' %}
{% set current_title = "Compte" %}
{% block body %}
    <section class="section text-center ">
        <div class="container-fluid p-0">
            <div class="row justify-content-center">
                <div class="col-md-12 p-0">
                    <div>
                        <img src="images/page-header/entete2.jpg">
                    </div>
                    <div class="breadcrumb-wrapper p-4 color-gold">
                        <ol class="breadcrumbs-custom">
                            <li><a href="./">Accueil</a></li>
                            <li>Mon compte</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-sm bg-default text-md-left">
        <div class="container">
            <h2 class="fs-40">Identifiant de connexion</h2>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-wrap">
                        <div class="row">
                            <div class="col-md-3"><p>Email : </p></div>
                            <div class="col-md-4"><p>{{user.uEmail}}</p></div>
                            <div class="col-md-5">
                                <button type="button" class="rd-navbar-basket" data-toggle="modal" data-target="#modalEmail">
                                    <img src="images/icone/2730272_feather_harry_potter_quill_solid_icon.png" style="width: 35px;">
                                </button>
                            </div>

                        </div>
                    </div>
                    <div class="form-wrap">
                        <div class="row">
                            <div class="col-md-3"><p>Mot de passe : </p></div>
                            <div class="col-md-4"><p>********************</p></div>
                            <div class="col-md-5">
                                <button type="button" class="rd-navbar-basket" data-toggle="modal" data-target="#modalPassword">
                                    <img src="images/icone/2730272_feather_harry_potter_quill_solid_icon.png" style="width: 35px;">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-sm bg-default text-md-left">
        <div class="container">
            <div class="row">
                <div class="col-md-10"><h2 class="fs-40">Mes adresses</h2></div>
                <div class="col-md-2 text-md-right">
                    <button  type="button" class="button button-primary" data-toggle="modal" data-target="#modalAdresse" style="font-size: 20px;padding: 10px 15px;">+</button>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table table-cart">
                        <thead>
                        <tr>
                            <th style="display: none;"></th>
                            <th style="display: none;"></th>
                            <th style="display: none;"></th>
                            <th>Nom/Prénom</th>
                            <th>Adresse</th>
                            <th>Complément</th>
                            <th>Ville</th>
                            <th>C.P</th>
                            <th style="display: none;"></th>
                            <th>Pays</th>
                            <th style="display: none;"></th>
                            <th style="display: none;"></th>
                            <th>Téléphone</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for adresse in user.adresses %}
                            {% if adresse.aActif == 1 %}
                            <tr>
                                <td  style="display: none;" class="id">{{ adresse.aId }}</td>
                                <td  style="display: none;" class="nom">{{ adresse.aNom }}</td>
                                <td  style="display: none;" class="prenom">{{ adresse.aPrenom }}</td>
                                <td>{{ adresse.aNom }} {{ adresse.aPrenom }}</td>
                                <td class="adresse">{{ adresse.aAdresse1 }}</td>
                                <td class="complement">{{ adresse.aAdresse2 }}</td>
                                <td class="ville">{{ adresse.aVille }}</td>
                                <td class="code">{{ adresse.aCode }}</td>
                                <td class="pays">{{ adresse.pays.pLibelle }}</td>
                                <td  style="display: none;" class="tel1">{{ adresse.aTelephone1 }}</td>
                                <td  style="display: none;" class="tel2">{{ adresse.aTelephone2 }}</td>
                                <td><chiffre>{{ adresse.aTelephone1 }}<br>{{ adresse.aTelephone2 }}</chiffre></td>
                                <td><button type="button" id="del-adresse"  class="rd-navbar-basket" data-toggle="modal" data-target="#modalDelAdresse{{ adresse.aId }}" onclick=""><img src="images/icone/2730296_harry_potter_solid_time_turner_icon.png" style="width: 35px;"></button>
                                    <button type="button" id="upd-adresse"  class="rd-navbar-basket" data-toggle="modal" data-target="#modalUpdAdresse{{ adresse.aId }}" onclick=""><img src="images/icone/2730272_feather_harry_potter_quill_solid_icon.png" style="width: 35px;"></button></td>
                            </tr>
                            <!-- Modal -->
                            <div class="modal fade" id="modalUpdAdresse{{ adresse.aId }}" tabindex="-1" role="dialog" aria-labelledby="modalUpdAdresseLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalUpdAdresseLabel">Modification d'adresse</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form class="rd-form mt-0" method="post" action="/membre/addAdresse">
                                            <div class="modal-body">
                                                <div class="row row-15">
                                                    <div class="col-6">
                                                        <div class="form-wrap">
                                                            <input type="hidden" name="id" class="idAdresseUpd" value="{{ adresse.aId }}">
                                                            <input class="form-input nomUpd" id="checkout-first-name-1" type="text" name="nom" value="{{ adresse.aNom }}" required>
                                                            <label class="form-label rd-input-label" for="checkout-first-name-1" id="labelNom">Nom</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-wrap">
                                                            <input class="form-input prenomUpd" id="checkout-last-name-1" type="text" name="prenom" value="{{ adresse.aPrenom }}" required>
                                                            <label class="form-label rd-input-label" for="checkout-last-name-1" id="labelPrenom">Prénom</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-wrap">
                                                            <input class="form-input tel1Upd" id="checkout-phone-1" type="text" name="telephone1" value="{{ adresse.aTelephone1 }}" required>
                                                            <label class="form-label rd-input-label" for="checkout-phone-1" id="labelTel">Téléphone</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-wrap">
                                                            <input class="form-input tel1Upd" id="checkout-phone-2" type="text" name="telephone2" value="{{ adresse.aTelephone2 }}" required>
                                                            <label class="form-label rd-input-label" for="checkout-phone-2" id="labelTel2">Téléphone</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-wrap">
                                                            <input class="form-input adresseUpd" id="checkout-address-1" type="text" name="adresse1" value="{{ adresse.aAdresse1 }}" required>
                                                            <label class="form-label rd-input-label" for="checkout-address-1" id="labelAdresse">Adresse</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-wrap">
                                                            <input class="form-input complementUpd" id="checkout-address-2" type="text" name="adresse2"  value="{{ adresse.aAdresse2 }}">
                                                            <label class="form-label rd-input-label" for="checkout-address-2" id="labelCompl">Complement d'adresse</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-wrap">
                                                            <input class="form-input villeUpd" id="checkout-city-1" type="text" name="ville" value="{{ adresse.aVille }}" required>
                                                            <label class="form-label rd-input-label" for="checkout-city-1" id="labelVille">Ville</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-wrap">
                                                            <input class="form-input cpUpd" id="checkout-cp-1" type="text" name="cp" value="{{ adresse.aCode }}" required>
                                                            <label class="form-label rd-input-label" for="checkout-cp-1" id="labelcp">Code postal</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-wrap">
                                                            <select name="pays" id="pays" class="form-input paysUpd" required>
                                                                {% for pays in listepays %}
                                                                    <option value="{{ pays.pId }}" {{ adresse.aIdPays == 75 ? 'selected' : ''}}>{{ pays.pLibelle }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="button button-secondary" data-dismiss="modal">Fermer</button>
                                                <button type="submit" name="upd-adresse" class="button button-primary">Enregistrer</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="modalDelAdresse{{ adresse.aId }}" tabindex="-1" role="dialog" aria-labelledby="modalDelAdresseLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalDelAdresseLabel">Suppression d'adresse</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form class="rd-form" method="post" action="/membre/adresse/delete">
                                            <div class="modal-body">
                                                <div class="row row-30">
                                                    <div class="col-md-12">
                                                        <p>Confirmer la suppression de cette adresse ?</p>
                                                        <input type="hidden" id="id" name="id" value="{{ adresse.aId }}">
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="button button-secondary" data-dismiss="modal">Non</button>
                                                <button type="submit" name="del-adresse" class="button button-primary">Oui</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-lg bg-default">
        <div class="container text-left">
            <div class="row ">
                <div class="col-md-12">
                    <h2 class="fs-40">Mes commandes</h2>
                    <!-- Bootstrap collapse-->
                    <div class="card-custom-group text-left" id="accordion1" role="tablist" aria-multiselectable="true">
                        {% for commande in user.commandes %}
                            {% if commande.cdeEtatId != 1 %}
                        <!-- Bootstrap card-->
                        <article class="card card-custom card-custom-default">
                            <div class="card-custom-heading" role="tab">
                                <p class="card-custom-title">
                                    <a id="accordion1-card-head-qtpwelxd" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-agesbltr" aria-controls="accordion1-card-body-agesbltr" aria-expanded="true" role="button">
                                        Commande N°<chiffre>{{ commande.cdeId }}</chiffre> du <chiffre>{{ commande.cdeDate|date('d/m/Y') }}</chiffre>, Total TTC : <chiffre>
                                        {{ commande.cdeMtn }}</chiffre> €
                                        {% if commande.promo != null and commande.promo.pRemise > 0 %}
                                            Remise {{ commande.promo.pRemise }} %
                                        {% endif %}
                                    </a>
                                </p>
                            </div>
                            <div class="card-custom-collapse collapse show" id="accordion1-card-body-agesbltr" aria-labelledby="accordion1-card-head-qtpwelxd" data-parent="#accordion1">
                                <div class="card-custom-body">
                                    <table class="table table-cart">
                                        <thead>
                                        <tr>
                                            <th>Produit</th>
                                            <th></th>
                                            <th>Prix unitaire</th>
                                            <th>Quantité</th>
                                            <th>Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for ligne in commande.lignes %}
                                        <tr>
                                            <td><img loading="lazy" style="height: 70px;" src="{{ ligne.article.images.count > 0 ? ligne.article.images[0].piImg : ''}}" > </td>
                                            <td>{{ ligne.article.prTitre }}</td>
                                            <td><chiffre>{{ ligne.clMtn }}</chiffre> €</td>
                                            <td>{{ ligne.clQte }}</td>
                                            <td><chiffre>{{ ligne.clMtn * ligne.clQte }}</chiffre> €</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </article>
                        {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Modal -->
    <div class="modal fade" id="modalEmail" tabindex="-1" role="dialog" aria-labelledby="modalEmailLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEmailLabel">Changer d'adresse mail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="rd-form" method="post" action="/membre/edit">
                    <div class="modal-body">
                        <div class="form-wrap">
                            <input class="form-input form-control-has-validation" id="email" type="email" name="email"  value="" required><span class="form-validation"></span>
                            <label class="form-label rd-input-label" for="email">E-mail</label>
                            <input type="hidden" name="id" value="{{ user.uId }}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="button button-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" name="updEmail" class="button button-primary">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalPassword" tabindex="-1" role="dialog" aria-labelledby="modalPasswordLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalPasswordLabel">Changer de mot de passe</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="rd-form" method="post" action="/membre/edit">
                    <div class="modal-body">
                        <div class="form-wrap">
                            <input class="form-input form-control-has-validation" id="password" type="password" name="password" required><span class="form-validation"></span>
                            <label class="form-label rd-input-label" for="password">Taper ici le nouveau mot de passe</label>
                            <input type="hidden" name="id" value="{{ user.uId }}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="button button-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" name="updMdp" class="button button-primary">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalAdresse" tabindex="-1" role="dialog" aria-labelledby="modalAdresseLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAdresseLabel">Ajout d'adresse</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="rd-form mt-0" method="post" action="/membre/addAdresse">
                    <div class="modal-body">
                        <div class="row row-15">
                            <div class="col-6">
                                <div class="form-wrap">
                                    <input class="form-input" id="checkout-first-name-2" type="text" name="nom" required>
                                    <label class="form-label rd-input-label" for="checkout-first-name-2">Nom</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-wrap">
                                    <input class="form-input" id="checkout-last-name-2" type="text" name="prenom" required>
                                    <label class="form-label rd-input-label" for="checkout-last-name-2">Prénom</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-wrap">
                                    <input class="form-input" id="checkout-phone-3" type="text" name="telephone1" required>
                                    <label class="form-label rd-input-label" for="checkout-phone-3">Téléphone</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-wrap">
                                    <input class="form-input" id="checkout-phone-4" type="text" name="telephone2" required>
                                    <label class="form-label rd-input-label" for="checkout-phone-4">Téléphone</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-wrap">
                                    <input class="form-input" id="checkout-address-3" type="text" name="adresse1" required>
                                    <label class="form-label rd-input-label" for="checkout-address-3">Adresse</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-wrap">
                                    <input class="form-input" id="checkout-address-4" type="text" name="adresse2">
                                    <label class="form-label rd-input-label" for="checkout-address-4">Complement d'adresse</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-wrap">
                                    <input class="form-input" id="checkout-city-2" type="text" name="ville" required>
                                    <label class="form-label rd-input-label" for="checkout-city-2">Ville</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-wrap">
                                    <input class="form-input" id="checkout-cp-2" type="text" name="cp" required>
                                    <label class="form-label rd-input-label" for="checkout-cp-2">Code postal</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-wrap">
                                    <select name="pays" id="pays1" class="form-input" required>
                                        <option value="">--Choisir un pays--</option>
                                        {% for pays in listepays %}
                                            <option value="{{ pays.pId }}" >{{ pays.pLibelle }}</option>
                                        {% endfor %}

                                    </select>
                                </div>
                            </div>
                            <input type="hidden" name="id" value="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="button button-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" name="add-adresse" class="button button-primary">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>






{% endblock %}