{% extends 'base.html.twig' %}
{% set current_title = "Panier" %}
{% block body %}
    <section class="section text-center ">
        <div class="container-fluid p-0">
            <div class="row justify-content-center">
                <div class="col-md-12 p-0">
                    <div>
                        <img src="/images/page-header/entete2.jpg">
                    </div>
                    <div class="breadcrumb-wrapper p-4 color-gold">
                        <ol class="breadcrumbs-custom">
                            <li><a href="./">Accueil</a></li>
                            <li>Panier</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Log in-->
    <section class="section section-lg bg-default">
        <div class="container">
            {% set somme = 0 %}
            <div class="table-responsive mt-4">
                <table class="table table-cart" id="tableProduitPanier" style="text-align: center;text-transform: uppercase;border: 1px solid #e1e1e1;">
                    <thead>
                    <tr><!--class="d-none d-md-table-row"-->
                        <th style="width:5%;">Supprimer</th>
                        <th>Produit</th>
                        <th></th>
                        <th>prix</th>
                        <th>quantité</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if commande == null or commande.lignes == null or commande.lignes.count == 0 %}
                    <tr><td colspan="6" class="text-center" style="display: table-cell;"><p>Aucun article dans le panier</p></td></tr>
                    <tr><td colspan="6" class="text-center" style="display: table-cell;"><a href="/boutique">Accéder à la boutique</a></td></tr>
                    {% else %}
                    {% for ligne in commande.lignes %}
                    <tr id="row">
                        <td>
                            <a href="/panier/deleteLigne/{{ ligne.clId }}"> <img src="/images/icone/2730296_harry_potter_solid_time_turner_icon.png" alt="supprimer produit" width="35px"></a>
                        </td>
                        <td>
                            <a class="table-cart-figure" href="/produit?id={{ligne.article.prId }}">
                                <img loading="lazy" src="{{ ligne.article.images.count > 0 ? ligne.article.images[0].piImg : ''}}" alt="image produit" style="width: 200px">
                            </a>
                        </td>
                        <td class="text-center text-md-left">
                            <a class="table-cart-link text-left" href="/produit?id={{ligne.article.prId }}">{{ ligne.article.prTitre }}</a>

                        </td>
                        <td><chiffre>{{ ligne.clMtn }}</chiffre> €</td>
                        <td style="width: 150px;">
                            <div class="product-stepper">
                                <form method="post" action="{{ path('changeQuantite', {'id' : ligne.clId }) }}">
                                <input class="form-input arvo" id="more" type="number" data-zeros="true" min="0" max="{{ ligne.article.prStock < 10 ? ligne.article.prStock : 10 }}" value="{{ ligne.clQte }}" name="quantite" onchange="form.submit()">
                                </form>
                            </div>
                        </td>
                        <td><div id="total "><chiffre>{{ ligne.clMtn * ligne.clQte }}</chiffre> € </div></td>
                        {% set somme = somme + (ligne.clMtn * ligne.clQte) %}
                    </tr>
                    {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
            {% if commande != null and commande.lignes != null and commande.lignes.count > 0%}
                {% if commande.promo is defined and commande.promo != null%}
                    {% if commande.promo.pActif == 1 and (commande.promo.pDateBegin == null or commande.promo.pDateBegin|date("m/d/Y") <= "now"|date("m/d/Y")) and (commande.promo.pDateEnd() == null or commande.promo.pDateEnd|date("m/d/Y") >= "now"|date("m/d/Y")) and (commande.promo.pAPartir == null or commande.promo.pAPartir <= somme) %}
                        {% if commande.promo.pLivraison == 1  %}
                        <p class="fs-18">Les frais de port vous sont offerts</p>
                        {% else %}
                            {% if commande.promo.pRemise != 0 and (somme - (somme * commande.promo.pRemise/100)) > 70%}
                                <p class="fs-18">Les frais de port vous sont offerts</p>
                            {% else %}
                                <div class="col-12" id="divFDP" style="text-align: left;">
                                    <p class="fs-18">Dans {{ 70 - (somme - (somme * commande.promo.pRemise/100)) }} €, les frais de port vous seront offerts</p>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <div class="col-12" id="divFDP" style="text-align: left;">
                            <p class="fs-18">Dans {{ 70 - somme }} €, les frais de port vous seront offerts</p>
                        </div>
                    {% endif %}
                {% else %}
                    {% if 70 - somme > 0 %}
                    <div class="col-12" id="divFDP" style="text-align: left;">
                        <p class="fs-18">Dans {{ 70 - somme }} €, les frais de port vous seront offerts</p>
                    </div>
                    {% else %}
                        <p class="fs-18">Les frais de port vous sont offerts</p>
                    {% endif %}
                {% endif %}



        <div class="row justify-content-end">
            <div class="col-12 col-lg-5 mb-5 mb-lg-0">
                {% if error is defined %}
                    <div class="alert alert-danger" role="alert">
                        <p style="color:red">{{ error }}</p>
                    </div>
                {% endif %}
                <form method="post" class="row" action="/panier/promo">
                    <input hidden name="total" value="{{ somme }}">
                    <div class="col-7">
                        <input type="text" class="form-input" name="code" style="border-radius: 6px;border-width: 1px 1px 1px 1px;min-height: 35px;height: 35px;padding: 17px 10px;" placeholder="Code promo">
                    </div>
                    <div class="col-5 text-left">
                        <button type="submit" name="codePromo" class="button button-primary" style="height: 35px;padding: 0px 20px;">Valider</button>
                    </div>
                </form>
            </div>


            <div class="col-12 col-lg-7 text-center text-lg-right align-self-center"  id="blockTTCRemise">
            <table class="table float-right">
                <tbody>
                <tr>
                    <td style="border-top:0px;vertical-align: middle;"><div class="heading-5 font-weight-medium text-gray-500">Total TTC :</div></td>
                    <td style="border-top:0px;" class="text-right"><div class="heading-3 font-weight-normal" id="totalTTC1"><chifre>{{ somme }}</chifre> €</div></td>
                </tr>
                {% if commande.promo is defined and commande.promo != null %}
                {% if commande.promo.pActif == 1 and (commande.promo.pDateBegin == null or commande.promo.pDateBegin|date("m/d/Y") <= "now"|date("m/d/Y")) and (commande.promo.pDateEnd() == null or commande.promo.pDateEnd|date("m/d/Y") >= "now"|date("m/d/Y")) and (commande.promo.pAPartir == null or commande.promo.pAPartir <= somme) %}
                {% if commande.promo.pRemise != 0 %}
                <tr>
                    <td style="vertical-align: middle;"><div class="heading-5 font-weight-medium text-gray-500">Remise
                        {{ commande.promo.pRemise }} % :</div></td>
                    <td class="text-right"><div class="heading-3 font-weight-normal" id="totalRemise">- <chifre>{{ somme * commande.promo.pRemise /100 }}</chifre> €</div></td>
                </tr>

                <tr>
                    <td style="vertical-align: middle;"><div class="heading-5 font-weight-medium text-gray-500">Total TTC avec remise :</div></td>
                    <td class="text-right"><div class="heading-3 font-weight-normal" id="totalTTCRemise"><chifre>{{ somme - (somme * commande.promo.pRemise/100) }}</chifre> €</div></td>
                </tr>
                {% endif %}
                {% endif %}
                {% endif %}
                </tbody>
            </table>
                {%endif%}
        </div>


        <div class="col-12 col-lg-7 text-center text-lg-right align-self-center">

        </div>
            {% if commande != null and commande.lignes != null  and commande.lignes.count > 0%}
        <div class="col-12 col-lg-5 mt-3">
            <a class="button button-lg button-primary float-right mb-3" style="width: 100%;" href="/commande"><i class="fa fa-truck" aria-hidden="true"></i> Commander</a>
{%endif%}
        </div>
        </div>
        </div>
    </section>

    <!-- Produit panier -->
    <section class="section section-lg bg-default">
        <div class="container-fluid text-center">
            <h1 class="heading-decorative"><span>Vous aimerez aussi</span></h1>
            <!-- Owl Carousel-->
            <div class="owl-carousel" data-items="1" data-sm-items="1" data-md-items="2" data-lg-items="4" data-dots="true" data-nav="true" data-stage-padding="28" data-xxl-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false">
                {% for panierProd in panierProduits %}
                    <div class="price-box">
                        <div class="figure">
                            <a href="/produit?id={{ panierProd.prId }}">
                                <img class="mt-5" src="{{ panierProd.images.count > 0 ? panierProd.images[0].piImg : '' }}" alt="" style="height: 210px;width: auto;"/>
                            </a>
                        </div>
                        <div class="caption">
                            <div class="title"><a href="/produit?id={{ panierProd.prId }}">{{ panierProd.prTitre }}</a></div>
                            <p class="price">{{ panierProd.prPrix}} €</p>
                            <a class="button button-primary" href="/produit?id={{ panierProd.prId }}">Voir</a><br>
                            {% if panierProd.prStock == 0 %}
                                <p class="fs-20">Produit indisponible<br>
                            {% else %}
                                <form method="post" action="{{ path("addPanier", {'id': panierProd.prId}) }}">
                                    <input hidden name="quantite" value="1">
                                    <button type="submit" class="button button-primary mt-2" >Acheter</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

                <!--
                 <div class="price-box">
                    <div class="figure"><a href="#"><img class="mt-5" src="images/produits/mug-carte-du-maraudeur-thermoreactif-harry-potter-1.jpg" alt="" width="370" height="270"/></a></div>
                    <div class="caption">
                        <div class="title"><a href="#">Organic Makeup Set</a></div>
                        <p class="price">35.80 €</p><a class="button button-primary" href="#">Acheter</a>
                    </div>
                </div>
                <div class="price-box">
                    <div class="figure"><a href="#"><img class="mt-5" src="images/produits/sacoche-d-ordinateur-vif-d-or-harry-potter.jpg" alt="" width="370" height="270"/></a></div>
                    <div class="caption">
                        <div class="title"><a href="#">Beeswax Lip Balm</a></div>
                        <p class="price">12.90 €</p><a class="button button-primary" href="#">Acheter</a>
                    </div>
                </div>
                <div class="price-box">
                    <div class="figure"><a href="#"><img class="mt-5" src="images/produits/harry-potter-lumos-wands-18cm-harry-potter.jpg" alt="" width="370" height="270"/></a></div>
                    <div class="caption">
                        <div class="title"><a href="#">Organic Makeup Set</a></div>
                        <p class="price">35.80 €</p><a class="button button-primary" href="#">Acheter</a>
                    </div>
                </div>
                <div class="price-box">
                    <div class="figure"><a href="#"><img class="mt-5" src="images/produits/nn7351_480.jpg" alt="" width="370" height="270"/></a></div>
                    <div class="caption">
                        <div class="title"><a href="#">Organic Makeup Set</a></div>
                        <p class="price">35.80 €</p><a class="button button-primary" href="#">Acheter</a>
                    </div>
                </div>
                 -->
            </div>
        </div>
    </section>


{% endblock %}