{% extends 'base.html.twig' %}

{% set current_title = "boutique" %}

{% block body %}
    <section class="section text-center ">
        <div class="container-fluid p-0">
            <div class="row justify-content-center">
                <div class="col-md-12 p-0">
                    <div class="breadcrumb-wrapper p-4 color-gold">
                        <ol class="breadcrumbs-custom">
                            <li><a href="./">Accueil</a></li>
                            <li><a href="/boutique">Boutique</a></li>
                            {% if url1 != null %}
                                <li>
                                    <a href="{{ path('boutiqueCat',{'cat':url1}) }}">
                                        {{url1 | lower}}
                                    </a>

                                </li>
                            {% endif %}
                            {% if url2 != null %}
                                <li>
                                    <a href="{{ path('boutiqueCat',{'cat':url1,'sscat':url2}) }}">
                                        {{url2 | lower}}
                                    </a>

                                </li>
                            {% endif %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section class="section section-lg bg-default">
    <div class="container text-center">
        <div class="row row-30 text-left">
            <div class="col-md-3">
                <form method="post" action="{{ path(app.request.attributes.get('_route'),
                    app.request.attributes.get('_route_params')) }}">
                <h2 class="fs-40 Benne-Regular ">Filter par prix</h2>
                <div class="barre mb-3"></div>
                <input name="prixMin" type="number" min="0" max="100" step="1" placeholder="prix min" class="form-input mb-2 text-center fs-18" value="{{ prixMin }}">
                <input name="prixMax" type="number" min="0" max="100" step="1" placeholder="prix max" class="form-input text-center fs-18" value="{{ prixMax }}">
                <button class="button button-primary mt-3" style="width: 100%;" type="submit">Rechercher</button>
                </form>


                <h2 class="fs-40 Benne-Regular mt-4">Catégorie</h2>
                <div class="barre mb-3"></div>
                <div class="d-flex justify-content-between">
                    <ul class="list-marked list-menu-aside text-primary font-weight-bold list-shop-filter">
                        {% if catAfficher != null %}

                            {% for catAff in catAfficher %}

                                <li><a  {% if catActuel != null and catAff.caId == catActuel.caId  %}
                                        class="active"
                                    {% endif %}
                                            {% if catActuel != null %}
                                            href="{{ path('boutiqueSousCat',{'cat':catActuel.caSeoUrl,'sscat':catAff.caSeoUrl}) }}">
                                        {% else %}
                                            href="{{ path('boutiqueCat',{'cat':catAff.caSeoUrl}) }}">
                                        {% endif %}

                                        {{ catAff.caTitre }}

                                    </a>
                                </li>
                            {% endfor %}
                        {% endif %}

                        <li><a href="/boutique">Voir tout</a> </li>
                    </ul>
                </div>

            </div>
            <div class="col-md-9">
                <div class="product-top-panel group-md">
                    <p class="product-top-panel-title"></p>
                    <div data-select2-id="5">
                        <div class="group-sm group-middle">
                            <div data-select2-id="4">
                                <form method="post" action="{{ path(app.request.attributes.get('_route'),
                                    app.request.attributes.get('_route_params')) }}">
                                <select name="tri" class="select2 select2-hidden-accessible form-select" id="filterSelect" style="width:250px;" data-select2-id="filterSelect" tabindex="-1" aria-hidden="true" onchange="form.submit()">
                                    <option value="order" data-select2-id="2" {{ tri == 'order' ? 'selected' : '' }}>Trier par pertinence</option>
                                    <option value="priceAsc" data-select2-id="13" {{ tri == 'priceAsc' ? 'selected' : '' }}>Trier par prix croissant</option>
                                    <option value="priceDesc" data-select2-id="14" {{ tri == 'priceDesc' ? 'selected' : '' }}>Trier par prix decroissant</option>
                                    <option value="nameAsc" data-select2-id="15" {{ tri == 'nameAsc' ? 'selected' : '' }}>Trier de A à Z</option>
                                    <option value="nameDesc" data-select2-id="16" {{ tri == 'nameDesc' ? 'selected' : '' }}>Trier de Z à A</option>
                                </select></form></div>
                    </div>
                </div>
                <div class="row row-50">
                    {% for prod in produits %}
                        {% if (prixMin == null or prod.prPrix >= prixMin) and (prixMax == null  or prod.prPrix <= prixMax) %}
                        <div class="col-sm-6 col-lg-4">
                        <div class="price-box text-center">
                            <div class="figure">
                                <a href="/produit?id={{ prod.prId }}">
                                    <img src="{{ prod.images.count > 0 ? prod.images[0].piImg : '' }}" alt="" style="height: 210px;width: auto;"/></a></div>
                            <div class="caption">
                                <div class="title"><a href="/produit?id={{ prod.prId }}">{{ prod.prTitre }}</a></div>
                                <p class="price"> <chiffre>{{ prod.prPrix}}</chiffre> € TTC</p>
                                <a class="button button-primary" href="/produit?id={{ prod.prId }}">Voir</a><br>
                                {% if prod.prStock == 0 %}
                                    <p class="fs-20">Produit indisponible</p><br>
                                {% else %}
                                <form method="post" action="{{ path("addPanier", {'id': prod.prId}) }}">
                                    <input hidden name="quantite" value="1">
                                    <button type="submit" class="button button-primary mt-2" >Acheter</button>
                                </form>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="col-md-12 arvo">
                        <ul class="pagination-custom text-center">
                            {% if search is defined and search != ''%}
                                <li class="{{ page == 1 ? 'disabled' : '' }}"><a class="pager-custom pager-prev" href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')|merge({'page': page - 1})|merge({'tri': tri})|merge({'search': search})) }}"></a></li>
                            {% else %}
                                <li class="{{ page == 1 ? 'disabled' : '' }}"><a class="pager-custom pager-prev" href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')|merge({'page': page - 1})|merge({'tri': tri})) }}"></a></li>
                            {% endif %}
                            {% for i in 1..count %}
                            {% if page == i %}<li class="active"><span>{{ i }}</span></li>
                            {% else %}
                                {% if search is defined and search != ''%}
                                    <li><a href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')|merge({'page': i})|merge({'tri': tri})|merge({'search': search}))}}">{{ i }}</a></li>
                                {% else %}
                                    <li><a href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')|merge({'page': i})|merge({'tri': tri})) }}">{{ i }}</a></li>
                                {% endif %}
                            {% endif %}
                            {% endfor %}
                            {% if search is defined and search != ''%}
                                <li class="{{ page == count ? 'disabled' : '' }}"><a class="pager-custom pager-next " href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')|merge({'page': page+1})|merge({'tri': tri})|merge({'search': search})) }}"></a></li>
                            {% else %}
                                <li class="{{ page == count ? 'disabled' : '' }}"><a class="pager-custom pager-next " href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')|merge({'page': page+1})|merge({'tri': tri})) }}"></a></li>
                            {% endif %}
                            </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
</section>
    {% include 'front/default/modalPanier.html.twig' %}
{% endblock %}
