{% extends 'base.html.twig' %}
{% set current_title = "produit" %}
{% block body %}

    <section class="section text-center ">
        <div class="container-fluid p-0">
            <div class="row justify-content-center">
                <div class="col-md-12 p-0">
                    <div class="breadcrumb-wrapper p-4 color-gold">
                        <ol class="breadcrumbs-custom">
                            <li><a href="./">Accueil</a></li>
                            <li><a href="/boutique">Boutique</a></li>
                            {% if produit.cat != null %}
                            <li>
                                <a href="{{ path('boutiqueCat',{'cat':produit.cat.caSeoUrl}) }}">
                                    {{produit.cat.caSeoUrl | lower}}
                                </a>
                            </li>
                            {% endif %}
                            {% if produit.cat2 != null %}
                            <li>
                                <a href="{{ path('boutiqueCat',{'cat':produit.cat2.cat.caSeoUrl,'sscat':produit.cat2.caSeoUrl}) }}">
                                    {{produit.cat2.caSeoUrl | lower}}
                                </a>
                            </li>
                            {% endif %}
                            <li>{{ produit.prTitre }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Single Product-->
    <section class="section section-lg bg-default">
        <div class="container text-center">
            <div class="row row-40 justify-content-center text-left">
                <div class="col-md-9 col-lg-6">
                    <div class="slider slider-for mb-3">
                        {% for image in produit.images %}
                        <div><img src="{{ image.piImg }}"></div>
                        {% endfor %}
                    </div>
                    <div class="slider slider-nav mt-3">
                        {% for image in produit.images %}
                            <div><img src="{{ image.piImg }}" style=" height: 150px;"></div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-9 col-lg-6 product-description">
                    <h1 class="heading-decorative fs-40 mb-3"><span>{{ produit.prTitre }}</span></h1>
                    <p class="fs-17">{{ produit.prDescShort|raw }}</p>
                    <p class="fs-17">Référence : {{ produit.prRef }}<br>
                        EAN : 4580416907392</p>
                    <div class="pricing mb-5">
                        <p class="price fs-17"><chiffre>17.85</chiffre> € TTC</p>
                    </div>
                    {% if produit.prStock == 0 %}
                        <p class="fs-30">Produit indisponible<br>
                    {% else %}
                    <form method="post" action="{{ path("addPanier", {'id': produit.prId}) }}">
                        <label for="qte" class="fs-20"> Qte : </label>
                        <input id="qte" type="number" min="1" step="1" value="1" class="form-input mr-3 arvo" style="width: 18%;display: inline;height: 40px;" name="quantite" max="{{ produit.prStock }}">
                        <button type="submit" class="button button-primary mt-0" >Acheter</button>
                    </form>
                    {% endif %}
                </div>
                <div class="col-md-12">
                    <h2 class="fs-30">Description</h2>
                    <p class="big">{{produit.prDesc|raw }}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}